@tailwind base;
@tailwind components;
@tailwind utilities;

/* start navbar style */

.scrolled {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  position: fixed;
  top: 0;
}
.slidebar-nav.active {
  @apply fixed left-0;
}

.box-slidebar {
  @apply w-full p-4 bg-gray-100 rounded-md;
}
